.pages-nav {
  padding: 20px;
  font-size: 1.5rem;

  .current-page {
    padding: 0 0.2rem;
  }

  .total-pages {
    opacity: 0.6;
    font-size: 1rem;
  }

  .prev,
  .next {
    all: unset;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.4);
    }
    &:disabled {
      pointer-events: none;
      opacity: 0.2;
    }
  }

  .prev {
    margin-right: 20px;
  }

  .next {
    margin-left: 20px;
  }
}
